# For pyspark and Ipython:
*.ipynb_checkpoints/
*.log

# Directory-based project format:
.idea/

# Optimus

metastore_db/
checkPointFolder/

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/
__pycache__/

# Spark-Package release
*.zip

__pycache__
test.csv
.cache
.coverage*
.DS_Store
test-new-interface.ipynb
data.json
optimus/dataframe/plot.py
examples/prueba con sofi.ipynb
.pytest_cache/v/cache/lastfailed
examples/properties.json
examples/new-api-tests.ipynb
examples/new-api-rationale.ipynb
examples/blogpost-git.ipynb
examples/100.json
.pytest_cache/v/cache/nodeids
