# For pyspark and Ipython:
*.ipynb_checkpoints/
*.log

# Directory-based project format:
.idea/

# Optimus

metastore_db/
checkPointFolder/
projectFilesBackup/tests.py

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/
__pycache__/

# Spark-Package release
*.zip

__pycache__
.cache
.coverage*
.DS_Store
.pytest_cache/v/cache/lastfailed
.pytest_cache/v/cache/nodeids
examples/example.json
examples/random.csv
data.json
examples/feature_engineering/top_features
examples/feature_engineering/data/products.csv
examples/feature_engineering/data/orders.csv
examples/feature_engineering/data/order_products__train.csv
examples/feature_engineering/data/order_products__prior.csv
examples/feature_engineering/data/departments.csv
examples/feature_engineering/data/aisles.csv
examples/feature_engineering/data/._products.csv
examples/feature_engineering/data/._orders.csv
examples/feature_engineering/data/._order_products__train.csv
examples/feature_engineering/data/._order_products__prior.csv
examples/feature_engineering/data/._departments.csv
examples/feature_engineering/data/._aisles.csv
data_type_inference/data/newsCorpora.csv
.pytest_cache/README.md
