numpy==1.14.3
matplotlib==2.2.2
pyspark==2.2.1
pytest==3.6.0
findspark==1.2.0
spark_df_profiling_optimus==0.1.1
nose==1.3.7
ipython==6.4.0
seaborn==0.8.1
setuptools==39.2.0
pixiedust-optimus==1.4.0
quinn==0.2.1
deprecated==1.2.0
