<table>
    <tbody>
    <tr>
        <td>
            <h3>Geolocation</h3>
            <div>Categorical</div>
        </td>
        <td>
            <h3>
                <table>
                    <tbody>
                    <tr>
                        <td>Distinct count</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Unique (%)</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Missing (%)</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Missing (n)</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>Infinite (%)</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>Infinite (n)</td>
                        <td>6</td>
                    </tr>

                    </tbody>
                </table>

            </h3>
        </td>
        <td>
            <h3>
                <table>
                    <tbody>
                    <tr>
                        <td>Mean</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Minimum</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Maximum</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Zeroz(%)</td>
                        <td>4</td>
                    </tr>

                    </tbody>
                </table>
            </h3>
        </td>
    </tr>
    </tbody>
</table>