<style>
    .data_type{
        font-size: 0.8em;
        font-weight:normal;
    }
    .column_name{
        font-size: 1.2em;
    }
    .info_items{
        margin: 10px 0;
        font-size: 0.8em;
    }

</style>

{% macro header_footer(limit, total_rows, total_cols) %}
<div class="info_items">Viewing {{limit}} of {{total_rows}} rows / {{total_cols}} columns</div>
{% endmacro %}

{{header_footer(limit, total_rows, total_cols)}}
<table>
    <thead>
    <tr>
        {%for col in cols: %}
        <th>
            <div class="column_name">{{col[0]}}</div>
            <div class="data_type">{{loop.index}} ({{col[1]}})</div>

        </th>
        {% endfor %}
    </tr>

    </thead>
    <tbody>
    {%for r in data:%}
    <tr>
        {%for k,v in r.items(): %}
        <td>
            {{v|string|replace(" ", "\u2E31")}}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{{header_footer(limit, total_rows, total_cols)}}