name: optimuspyspark

on:
    push:
      branches: [ develop ]
    pull_request:
      branches: [ develop ]

jobs:
  build:

    runs-on: ubuntu-latest
    env:
      SPARK_HOME: /tmp/spark-2.4.1-bin-hadoop2.7
    strategy:
      matrix:
        python-version: [3.7]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Java
      uses: actions/setup-java@v2
      with:
        distribution: 'adopt' # See 'Supported distributions' for available options
        java-version: '8'

    - name: Install dependencies
      run: |
        chmod +x install-spark.sh
        install-spark.sh
        pip install --upgrade pip
        pip install pytest pytest-cov
        pip install coveralls
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

#    - name: Lint with flake8
#      run: |
#        # stop the build if there are Python syntax errors or undefined names
#        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
#        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
#        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Test with pytest
      run: |
        py.test -v --ignore=optimus/dl/ --ignore=examples/ --ignore=tests/creator --ignore=tests/test_dl.py